.imageWrapper {
  position: relative;
  max-width: 1024px;
  margin: 6rem auto;
}
.imageWrapper > img {
  position: absolute;
  box-shadow: 0 2.76726px 2.21381px rgba(0, 0, 0, 0.09),
    0 6.6501px 5.32008px rgba(0, 0, 0, 0.06317),
    0 12.5216px 10.0172px rgba(0, 0, 0, 0.0439075),
    0 22.3363px 17.869px rgba(0, 0, 0, 0.0282784),
    0 41.7776px 33.4221px rgba(0, 0, 0, 0.0235573),
    0 100px 80px rgba(0, 0, 0, 0.0174624);
  border-radius: 1vw;
}

.desc {
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.desc > h2 {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: clamp(2rem, 0.5rem + 3.5vw, 5rem);
  display: inline;
}
.desc > p {
  padding: 1.3em max(calc(50% - 25vw), 1em) 2.4em;
  line-height: 1.4em;
}

.stackWrapper {
  display: flex;
  height: 4em;
  justify-content: center;
  margin: 0 auto 2em;
  position: relative;
}
.stackWrapper > div {
  width: 4em;
  height: 4em;
  overflow: hidden;
  box-shadow: 0 2.76726px 2.21381px rgba(0, 0, 0, 0.07),
    0 6.6501px 5.32008px rgba(0, 0, 0, 0.04317),
    0 12.5216px 10.0172px rgba(0, 0, 0, 0.0339075),
    0 22.3363px 17.869px rgba(0, 0, 0, 0.0282784),
    0 41.7776px 33.4221px rgba(0, 0, 0, 0.0235573),
    0 100px 80px rgba(0, 0, 0, 0.0174624);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.stackWrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  background-color: hsla(5.5, 100%, 97.8%, 0);
  transition: background 0.38s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  padding: 0.6em 0;
  margin: 0.3em 0.8em;
  border-radius: 0.45em;
}
.button a {
  text-decoration: none;
}
.button:hover {
  background-color: hsla(5.5, 100%, 97.8%, 0.75);
}
.button svg {
  transform: translateX(0);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover svg {
  transform: translateX(0.2em);
}
